.la {
  font-size: 25px; }

body {
  background-color: #f8f8f8;
  background-position: center;
  background-size: contain;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px; }

.en {
  font-family: "Josefin Sans", sans-serif; }

.ar {
  font-family: 'Bahij_TheSansArabic'; }

h1, h2, h3, h4, h5, h6, .display-2, .display-3, .display-1, .headline {
  font-family: "Josefin Sans", sans-serif !important;
  text-transform: capitalize; }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 150, 136, 0.7); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009688; }

a {
  color: #000;
  transition: all 0.4s ease-in-out; }
  a:hover {
    color: #009688 !important;
    text-decoration: none; }

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #009688 !important; }

.main-title {
  margin-bottom: 3rem; }

.text-primary {
  color: #009688 !important; }

.main-navbar {
  background-color: #272727 !important;
  position: relative;
  z-index: 1; }
  .main-navbar:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .main-navbar .navbar-nav {
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center; }
    .main-navbar .navbar-nav .nav-item.active .nav-link {
      color: #fff; }
    .main-navbar .navbar-nav .nav-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1.5rem;
      color: #d2d2d2;
      font-size: 15px;
      text-transform: capitalize; }
      .main-navbar .navbar-nav .nav-link .la {
        font-size: 26px; }
      .main-navbar .navbar-nav .nav-link span {
        color: #009688;
        margin-top: 5px; }

.topbar {
  background-color: #009688;
  padding: 0.5rem 0; }
  .topbar a:hover, .topbar a:focus {
    color: #fff !important; }
  .topbar .logo {
    margin-bottom: 0; }
  .topbar .search-form {
    position: relative; }
    .topbar .search-form .search-button {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .topbar .search-form .form-control {
      padding-left: 50px;
      border: none; }
  .topbar-list {
    display: inline-flex;
    margin-bottom: 0; }
    .topbar-list > li > a {
      display: block;
      padding: 0.5rem 0.5rem;
      color: #f9f9f9; }
  .topbar .notification {
    position: relative; }
    .topbar .notification .badge {
      position: absolute;
      right: 0;
      top: 0; }

@media (max-width: 992px) {
  .topbar {
    text-align: center; } }

.form-control {
  border-radius: 0;
  min-height: 45px;
  border-color: #ededed; }
  .form-control:focus {
    outline: 0;
    box-shadow: none; }

.btn {
  min-width: 120px; }
  .btn.btn-primary {
    background-color: #009688;
    border-color: #009688; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      background-color: #009688 !important;
      box-shadow: none !important;
      outline: 0; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.dropdown-item.active, .dropdown-item:active,
.show > .btn-primary.dropdown-toggle {
  background-color: #009688 !important;
  border-color: #009688 !important; }

.rotator-banner {
  height: 600px; }
  .rotator-banner .carousel-inner {
    height: 100%; }
    .rotator-banner .carousel-inner .carousel-item {
      height: 100%; }
      .rotator-banner .carousel-inner .carousel-item img {
        height: 100%;
        object-fit: cover; }
  .rotator-banner .carousel-caption {
    bottom: 0;
    right: 5%;
    left: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.rotator-banner-with-menu .menu > .list-group-item {
  background-color: #f8f8f8;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0; }
  .rotator-banner-with-menu .menu > .list-group-item > a:hover {
    color: #009688; }

.rotator-banner-with-menu .rotator-banner {
  height: 400px; }

.rotator-banner-with-gallery {
  padding-top: 5rem; }
  .rotator-banner-with-gallery .gallery-item {
    height: 200px; }
    .rotator-banner-with-gallery .gallery-item img {
      object-fit: contain; }

.draw-your-dream-section {
  padding: 3rem 0;
  color: #fff;
  text-align: center;
  background-color: #272727; }
  .draw-your-dream-section__item {
    font-size: 20px;
    text-transform: capitalize; }
    .draw-your-dream-section__item .la {
      font-size: 35px;
      margin-bottom: 15px; }

.categories {
  padding: 3rem 0 1rem 0; }

.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  background: #212529;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: -25px; }

.owl-carousel .owl-nav .owl-prev {
  left: 0;
  margin-left: -60px; }

.owl-carousel .owl-nav .owl-next {
  right: 0;
  margin-right: -60px; }

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  .owl-carousel .owl-dots .owl-dot {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px; }
    .owl-carousel .owl-dots .owl-dot.active {
      background-color: #009688; }

.gallery {
  padding: 4rem 0; }
  .gallery-item {
    display: block;
    height: 300px;
    margin-bottom: 15px; }
    .gallery-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.main-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }
  .main-pagination .page-link {
    color: #009688;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    transition: all 0.4s ease-in-out;
    padding: 1rem; }
    .main-pagination .page-link:hover {
      color: #fff;
      background-color: #009688; }

.footer {
  font-size: 18px;
  padding: 4rem 0 2rem 0;
  color: #009688;
  background-color: #000; }
  .footer .footer-title {
    color: #009688;
    margin-bottom: 15px; }
  .footer .footer-list > li {
    margin-bottom: 8px; }
  .footer a {
    color: #dee2e6; }
  .footer .copy-right {
    margin-top: 4rem;
    text-align: center; }

.image-banner {
  height: 450px;
  background-size: cover;
  background-position: center center; }
  .image-banner-text {
    text-align: center;
    font-size: 20px; }
    .image-banner-text p {
      max-width: 700px;
      margin: 0 auto;
      padding: 2rem  0 3rem 0;
      border-bottom: 2px solid #009688; }

.about-items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }
  .about-items .item.reverse {
    flex-direction: row-reverse; }
    .about-items .item.reverse > div:first-child {
      text-align: right; }
    .about-items .item.reverse > div:last-child {
      text-align: left; }
  .about-items .item > div {
    flex: 0 0 50%;
    max-width: 50%; }
    .about-items .item > div:last-child {
      text-align: right; }
  .about-items .item img {
    height: 250px;
    object-fit: cover; }

@media (max-width: 767px) {
  .about-items .item {
    flex-direction: column-reverse; }
    .about-items .item.reverse {
      flex-direction: column-reverse; }
    .about-items .item > div {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center !important; }
    .about-items .item img {
      width: 100%;
      margin-bottom: 18px; } }

.newsletter-wrap {
  padding: 4rem 0;
  color: #fff;
  background-color: #484e51; }
  .newsletter-wrap .form-inline {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    .newsletter-wrap .form-inline ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #009688;
      font-style: italic; }
    .newsletter-wrap .form-inline ::-moz-placeholder {
      /* Firefox 19+ */
      color: #009688;
      font-style: italic; }
    .newsletter-wrap .form-inline :-ms-input-placeholder {
      /* IE 10+ */
      color: #009688;
      font-style: italic; }
    .newsletter-wrap .form-inline :-moz-placeholder {
      /* Firefox 18- */
      color: #009688;
      font-style: italic; }
    .newsletter-wrap .form-inline input, .newsletter-wrap .form-inline select, .newsletter-wrap .form-inline button {
      border-radius: 0;
      height: 45px;
      border: none; }
    .newsletter-wrap .form-inline input[type="text"] {
      color: #fff;
      background-color: #484e51;
      border: 1px solid #fff; }
    .newsletter-wrap .form-inline .select {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff; }
      .newsletter-wrap .form-inline .select select {
        min-width: 100px;
        border: none; }
      .newsletter-wrap .form-inline .select .la {
        color: #009688;
        width: 50px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff; }

.home-imporovment {
  padding: 5rem 0; }
  .home-imporovment .item {
    margin-bottom: 30px; }
    .home-imporovment .item .item-img {
      width: 90%;
      height: 250px;
      object-fit: cover; }
    .home-imporovment .item .item-small-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover; }

.filtering {
  padding: 4rem 0;
  text-align: center; }
  .filtering .select-theme select.custom-select {
    background-color: #272727;
    color: #fff; }
  .filtering .product-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border: 8px solid #f8f8f8; }
  .filtering .element-item {
    margin-top: 5px;
    position: relative;
    float: left;
    width: 25%;
    height: 200px; }

@media (max-width: 992px) {
  .order-12 {
    -ms-flex-order: 1;
    order: 1; } }
